@import "tailwindcss";

@theme {
  --font-vietnam-pro: "Be Vietnam Pro", sans-serif;
  --color-white: #f4f4ec;
  --color-primary: #d2681e;
  --color-background: #efece3;
}

body {
  --swiper-theme-color: #ffffff;
  overscroll-behavior: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}
